.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
}

#timeline_slider > div {
    margin-top: 13px;
}

#timeline_slider > div > div.rc-slider-rail {
    height: 8px;
    border-radius: 0;
}

#timeline_slider > div > div.rc-slider-track {
    height: 8px;
    background-color: #1a1a1a;
}

#timeline_slider > div > div.rc-slider-handle {
    height: 21px;
    width: 21px;
    margin-top: -6.5px;
    border-radius: 0;
    border-color: #adb5bd;
}

#timeline_slider > div > div.rc-slider-handle:active {
    box-shadow: 0 0 5px #adb5bd;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
}

#transcript_table > table > tbody > tr:nth-child(1) > td:nth-child(1) {
    white-space: nowrap;
}

#transcript_table123 > div.dash-spreadsheet-container > div > div.dt-table-container__row.dt-table-container__row-1 > div.cell.cell-1-1.dash-fixed-content > table > tbody > tr > td.dash-cell.column-0 > div > p,
#transcript_table123 > div.dash-spreadsheet-container > div > div.dt-table-container__row.dt-table-container__row-1 > div.cell.cell-1-1.dash-fixed-content > table > tbody > tr > td.dash-cell.column-1 > div > p,
#transcript_table123 > div.dash-spreadsheet-container > div > div.dt-table-container__row.dt-table-container__row-1 > div.cell.cell-1-1.dash-fixed-content > table > tbody > tr > td.dash-cell.column-2 > div > p {
    margin-bottom: 0;
}

#transcript_table123 > div.dash-spreadsheet-container > div > div.dt-table-container__row.dt-table-container__row-1 {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#transcript_table123 > div.dash-spreadsheet-container > div > div.dt-table-container__row.dt-table-container__row-1::-webkit-scrollbar {
    width: 0;
    height: 0;
}
