body {
    overflow-y: scroll;
}

.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
}

#timeline_slider > div {
    margin-top: 13px;
}

#timeline_slider > div > div.rc-slider-rail {
    height: 8px;
    border-radius: 0;
}

#timeline_slider > div > div.rc-slider-track {
    height: 8px;
    background-color: #1a1a1a;
}

#timeline_slider > div > div.rc-slider-handle {
    height: 21px;
    width: 21px;
    margin-top: -6.5px;
    border-radius: 0;
    border-color: #adb5bd;
}

#timeline_slider > div > div.rc-slider-handle:active {
    box-shadow: 0 0 5px #adb5bd;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
}
