input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    display: none;
}

#timeline_slider {
    padding: 15px !important;
}

.rc-slider {
    height: 16px;
}

.rc-slider-rail {
    height: 6px;
    border-radius: 0px;
    /* background-color: #f7f7f9; to match other light gray input boxes */
}

.rc-slider-track {
    height: 6px;
    border-radius: 0px;
    background-color: #1a1a1a;
}

.rc-slider-step {
    height: 6px;
}

.rc-slider-handle {
    height: 16px;
    width: 16px;
    border-radius: 0px;
    border: 2px solid #1a1a1a;
}

.rc-slider-handle:hover {
    border-color: #1a1a1a;
}

.rc-slider-handle:active {
    border-color: #1a1a1a;
    box-shadow: 0px 0px 5px #1a1a1a;
}

.rc-slider-handle:focus {
    border-color: #1a1a1a;
}

.rc-slider-dot {
    top: 16px;
    height: 16px;
    width: 2px;
    border: 1px solid #e9e9e9;
    border-radius: 0px;
}

.rc-slider-dot-active {
    border-color: #1a1a1a;
}

.rc-slider-mark {
    display: none;
}



#transcript_table > div.dash-spreadsheet-container > div > div.dt-table-container__row.dt-table-container__row-1 > div.cell.cell-1-1.dash-fixed-content > table > tbody > tr > td.dash-cell.column-0 > div > p,
#transcript_table > div.dash-spreadsheet-container > div > div.dt-table-container__row.dt-table-container__row-1 > div.cell.cell-1-1.dash-fixed-content > table > tbody > tr > td.dash-cell.column-1 > div > p,
#transcript_table > div.dash-spreadsheet-container > div > div.dt-table-container__row.dt-table-container__row-1 > div.cell.cell-1-1.dash-fixed-content > table > tbody > tr > td.dash-cell.column-2 > div > p {
    margin-bottom: 0;
}

#transcript_table > div.dash-spreadsheet-container > div > div.dt-table-container__row.dt-table-container__row-1 {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#transcript_table > div.dash-spreadsheet-container > div > div.dt-table-container__row.dt-table-container__row-1::-webkit-scrollbar {
    width: 0;
    height: 0;
}
